.inpt-box {
  outline: none;
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid #dedede;
  width: 40vw;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
  font-size: 1rem;
  background: rgb(247, 248, 249);
}
.inpt-box:active {
  border: 1px solid rgb(130, 169, 202);
}
.inpt-box:focus {
  border: 1px solid rgb(130, 169, 202);
}

.inpt-box:disabled {
  border: none;
  border: 1px solid rgb(236, 237, 238);
  opacity: 0.8;
}

.err {
  border: 1px solid red;
}
.err:focus {
  border: 1px solid red;
}

.err:active {
  border: 1px solid red;
}
